@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    cursor: url('cursor.png'), default;
    overflow: auto;
    background-color: #fdf2e9;
}

button, a {
    cursor: url('cursor_pointer.png'), pointer;
}

p {
    margin-bottom: 0;
}

:root {
    --lightgrey: #e4e4e4;
    --darkgrey: #ffffff;

    --scrolldark: #333333;
    --scrollbrighter: #575757;
    --scrollbrightest: #919191;

    --bg: #fdf2e9;

    --colleft: #BAFCA2;
    --colright: #FFDB58;
    --colright2: #69D2E7;
    --colup: #C4A1FF;
    --colbot: #FFA07A;

    --cardwebdev: #acc8df;
    --cardmediadesign: #e393f3;
    --cardmeet: #c9e5d2;
    --cardteaching: #db5971;
    --cardquarto: #598cc2;
    --cardmusic: #d7b174;
    --cardchromeextension: #71ba6a;
    --cardshower: #b8d9ea;
    --cardrememory: #4dc5ac;
    --cardiot: #d8c2b0;
    --cardbmw: #accdef;
    --cardrohde: #b5b9bc;
    --cardlivanova: #c57ad5;
}

::-webkit-scrollbar {
    width: 0.7vw;
}

::-webkit-scrollbar-track {
    background: var(--scrolldark);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbrighter);
    border-radius: 100vh;  /* Adjust this value to your liking */
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbrightest);
}
