/*
.opencard {
    display: none;
    visibility: hidden;
    color: white;
    background-color: var(--scrolldark);
    border: 0.5vh solid black;
    position: absolute;
    width: 75vw;
    height: 85vh;
    cursor: url('cursor_pointer.png'), pointer;
    opacity: 0%;
    animation: open 0.2s ease-in-out;
    transition: 0.2s ease;
    border-radius: 3vh;
}
*/

.opencard {
    display: none;
    visibility: hidden;
    color: rgb(0, 0, 0);
    background-color: var(--bg);
    border-top: 0.25vh solid black;
    position: absolute;
    width: 100%;
    height: 90.5%;
    animation: open 0.2s ease-in-out;
    transition: 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    text-align: center;
    overflow-y: auto;
    direction: ltr; 
    padding-top: 30px;
    padding-bottom: 30px;
}

.opencard_inside_wrapper {
    color: rgb(0, 0, 0);
    position: absolute;
    width: 100%;
    height: 90.5%;
    animation: open 0.2s ease-in-out;
    transition: 0.2s ease;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    padding: 0 10vw;
    text-align: center;
    overflow-y: auto;
    direction: ltr; 
}

.opencard p a {
    color: rgb(0, 0, 0);
}

@keyframes open {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#id_img_close_opencards_icon {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 5vh;
    animation: appearAndScale 1s ease, rotateInfinite 4s linear infinite;
    transition: 0.2s ease;
    cursor: url('cursor_pointer.png'), pointer;
}

@keyframes appearAndScale {
    0% {
        opacity: 0;
        transform: rotate(0deg) scale(0.75);
    }
    100% {
        opacity: 1;
        transform: rotate(180deg) scale(1.0);
    }
}

@keyframes rotateInfinite {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(540deg);
    }
}

#id_img_close_opencards_icon:hover {
    width: 4vh;
}

.opencard h {
    color: rgb(0, 0, 0);
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border-bottom: 0.4vh solid rgb(0, 0, 0);
}

/* Scrollbar styling for elements with the 'opencard' class */
.opencard_inside_wrapper::-webkit-scrollbar {
    width: 0.7vw; /* Example of a different width */
}

.opencard_inside_wrapper::-webkit-scrollbar-track {
    background: var(--bg);
}

.opencard_inside_wrapper::-webkit-scrollbar-thumb {
    background: var(--scrollbrighter);
    border-radius: 5px; /* Different border radius for the opencard class */
}

.opencard_inside_wrapper::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbrightest);
}