#id_div_space1, #id_div_space2 {
    height: 2vh;
}

#id_div_space1{
    border-top: 0.5vh solid black;
}

#id_div_space2, #id_div_space1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

#id_div_navbar {
    background-color: var(--bg);
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    transition: 1s ease-in-out;
}
#id_div_go_down {
    background-color: var(--colup);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    transition: 0.3s ease-in-out;
}

#id_img_arrowdown {
    position: relative;
    bottom: 0;
    height: 3.5vh;
    animation: downarrowanim 2s infinite ease-in-out;
    transition: 0.2s ease-in-out;
}

@keyframes downarrowanim {
    0% {bottom: 0.2vh;}
    50% {bottom: -0.9vh;}
    100% {bottom: 0.2vh;}
}

@media (hover: hover) {
    #id_img_arrowdown:hover {
        height: 3vh;
        transition: 0.2s ease-in-out;
    }
}

#id_p_profile_left_text_wrapper {
    background-color: var(--darkgrey);
    padding: 10px 8px 10px 18px;
    border-radius: 2vh;

    border: 0.5vh solid black;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

#id_p_profile_right_text_wrapper {
    background-color: var(--darkgrey);
    padding: 10px;
    border-radius: 2vh;
    border: 0.5vh solid black;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);

    opacity: 0%;
    visibility: hidden;
    display: none;
}