@media only screen and (min-width: 1200px) {

    #id_img_navbar_textpicture {
        height: 6vh;
        transition: 0.2s ease-in-out;
    }

    @media (hover: hover) {
        #id_img_navbar_textpicture:hover {
            transform: scale(0.9);
            transition: 0.2s ease-in-out;
        }
    }

    #id_div_profile_all {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 50vh;
        /*background-color: black;*/
        align-items: center;
        justify-content: center;
    }

    #id_div_profile_left {
        height: 50vh;
        width: 50vw;
        background-color: var(--colleft);
        border-top: 0.5vh solid black;
        border-bottom: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease-in-out;
    }

    #id_div_profile_right {
        height: 50vh;
        width: 50vw;
        background-color: var(--colright);
        border-top: 0.5vh solid black;
        border-bottom: 0.5vh solid black;
        border-left: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.3s ease-in-out;
    }

    #id_div_profile_right a {
        text-decoration: none;
    }

    #id_div_profile_right p {
        text-decoration: none;
    }

    #id_p_profile_left_text {
        width: 22ch;
        white-space: nowrap;
        overflow: hidden;

        color: rgb(0, 0, 0);
        font-size: 2vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        transition: 1s ease-in-out;
        animation: typing 2s steps(22) forwards; /* Animation applied here */
    }

    @keyframes typing {
        from {
            width: 0;
        }
        to {
            width: 22ch; /* Full width to match text length */
        }
    }

    #id_p_profile_right_text {
        visibility: hidden;
        display: none;
        color: black;
        font-size: 2vh;
        text-decoration: none;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        opacity: 0%;
        transition: 0.3s ease-in-out;
    }

    @media (hover: hover) {
        #id_p_profile_right_text:hover {
            font-size: 2.3vh;
            transition: 0.2s ease-in-out;
        }
    }

    #id_img_profile_picture {
        position: absolute;
        border-radius: 3vh;
        height: 30vh;
        border: 0.5vh solid black; 
        box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
        transition: .5s ease;
        /*animation: rotateAnimation2 10s ease-in-out infinite;*/
    }

    @keyframes rotateAnimation2 {
        0%, 100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

    @media (hover: hover) {
        #id_img_profile_picture:hover {
            height: 33vh;
            transition: .5s ease;
            border-radius: 0vh;
        }
    }
   
    #id_div_info_text_space {
        height: 32vh;
        display: flex;
        align-items: safe center;
        justify-content: center;
        overflow-y: auto;
    }

    #id_p_info_text {
        text-align: center;
        color: black;
        font-size: 2vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        margin: 0 5vw 0 5vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #id_p_info_text a {
        text-decoration: none;
        color: black;
        text-decoration: underline solid black 0.2vh;
    }

    
    #id_p_info_text a:hover {
        text-decoration: underline solid black 0.3vh;
    }

}