@media only screen and (max-width: 1000px) {
    #id_img_footer_youtube {
        height: 6vh;
        transition: 0.2s ease-in-out;
    }

    @media (hover: hover) {
        #id_img_footer_youtube:hover {
            transform: scale(1.1);
            transition: 0.2s ease-in-out;
        }
    }

    #id_img_footer_mail {
        height: 6vh;
        transition: 0.2s ease-in-out;
    }

    @media (hover: hover) {
        #id_img_footer_mail:hover {
            transform: scale(1.1);
            transition: 0.2s ease-in-out;
        }
    }

    #id_img_footer_linkedin {
        height: 4.5vh;
        transition: 0.2s ease-in-out;
    }

    @media (hover: hover) {
        #id_img_footer_linkedin:hover {
            transform: scale(1.1);
            transition: 0.2s ease-in-out;
        }
    }

    #id_div_footer_left_rectangle {
        height: 1.5vh;
        width: 17vw;
        background-color: black;
        border-top-right-radius: 100vh;
        border-bottom-right-radius: 100vh;
        animation: widthAnimation 5s infinite ease-in-out;
    }

    #id_div_footer_right_rectangle {
        height: 1.5vh;
        width: 17vw;
        background-color: black;
        border-top-left-radius: 100vh;
        border-bottom-left-radius: 100vh;
        animation: widthAnimation 5s infinite ease-in-out;
    }

    @keyframes widthAnimation {
        0%, 100% {
            width: 17vw;
        }
        50% {
            width: 13vw;
        }
    }
}
