.cardsAllForGeneralStyles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: scale(1);
    cursor: url('cursor_pointer.png'), pointer;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1), 4px 4px 0px 0px rgb(255, 255, 255) inset;

}

@media (hover: hover) {
    .cardsAllForGeneralStyles:hover {
        transform: scale(1.05);
        transition: 0.2s ease-in-out;
        cursor: url('cursor_pointer.png'), pointer;
        animation: floatEffect 0.5s ease-in-out;
        transition: 0.2s ease-in-out;
    }
}

@keyframes updown2 {
    0% {transform: translateY(-0.4svh);}
    50% {transform: translateY(0.2svh);}
    100% {transform: translateY(-0.4svh);}
}

@keyframes floatEffect {
    0% {
        transform: translate(0, 0svh) rotate(0deg);
    }
    25% {
        transform: translate(0.2svh, 0.2svh) rotate(1deg);
    }
    50% {
        transform: translate(0.2svh, 0.4svh) rotate(-4deg);
    }
    75% {
        transform: translate(0svh, 0svh) rotate(2deg) scale(1.05);
    }
    100% {
        transform: translate(0, 0svh) rotate(0deg) scale(1.05);
    }
}

.card1ForStyle {
    /* background-image: url("img/cards/webdevbg.png"); */
    background-color: var(--cardwebdev);
    box-shadow: 6px 6px 0px 0px var(--cardwebdev), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}


.card2ForStyle {
    /*background-image: url("img/cards/mediadesignbg.png"); */
    background-color: var(--cardmediadesign);
    box-shadow: 6px 6px 0px 0px var(--cardmediadesign), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card3ForStyle {
    /*background-image: url("img/cards/meetbg.png");*/
    background-color: var(--cardmeet);
    box-shadow: 6px 6px 0px 0px var(--cardmeet), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card4ForStyle {
    /*background-image: url("img/cards/teachingbg.png");*/
    background-color: var(--cardteaching);
    box-shadow: 6px 6px 0px 0px var(--cardteaching), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card5ForStyle {
    /*background-image: url("img/cards/quartobg.png");*/
    background-color: var(--cardquarto);
    box-shadow: 6px 6px 0px 0px var(--cardquarto), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card6ForStyle {
    /*background-image: url("img/cards/musicbg.png");*/
    background-color: var(--cardmusic);
    box-shadow: 6px 6px 0px 0px var(--cardmusic), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card7ForStyle {
    /*background-image: url("img/cards/chromeextensionbg.png");*/
    background-color: var(--cardchromeextension);
    box-shadow: 6px 6px 0px 0px var(--cardchromeextension), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card8ForStyle {
    /* or no background */
    /*background-image: url("img/cards/conceptbg.png");*/
    background-color: var(--cardshower);
    box-shadow: 6px 6px 0px 0px var(--cardshower), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card9ForStyle {
    /*background-image: url("img/cards/rememorybg.png");*/
    background-color: var(--cardrememory);
    box-shadow: 6px 6px 0px 0px var(--cardrememory), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card10ForStyle {
    /*background-image: url("img/cards/pwpbg.png");*/
    background-color: var(--cardiot);
    box-shadow: 6px 6px 0px 0px var(--cardiot), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card11ForStyle {
    background-color: var(--cardbmw);
    box-shadow: 6px 6px 0px 0px var(--cardbmw), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: black;
}

.card12ForStyle {
    background-color: var(--cardrohde);
    box-shadow: 6px 6px 0px 0px var(--cardrohde), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

.card13ForStyle {
    background-color: var(--cardbsh);
    box-shadow: 6px 6px 0px 0px var(--cardbsh), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

.card14ForStyle {
    background-color: var(--cardchordsync);
    box-shadow: 6px 6px 0px 0px var(--cardchordsync), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

.card15ForStyle {
    background-color: var(--cardsbin);
    box-shadow: 6px 6px 0px 0px var(--cardsbin), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

.card16ForStyle {
    background-color: var(--cardsongtreasure);
    box-shadow: 6px 6px 0px 0px var(--cardsongtreasure), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

.card17ForStyle {
    background-color: var(--cardpulsell);
    box-shadow: 6px 6px 0px 0px var(--cardpulsell), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

.card18ForStyle {
    background-color: var(--cardwacker);
    box-shadow: 6px 6px 0px 0px var(--cardwacker), 4px 4px 0px 0px rgb(255, 255, 255) inset;
    color: rgb(255, 255, 255) !important;
}

#id_img_bmwicon {
    width: 30px;
    box-shadow: none;
    border: none;
    margin-bottom: -5px;
}

.cardsAllForGeneralStyles h {
    color: rgb(0, 0, 0);
    font-size: 2.2svh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin-top: auto;
    border-bottom: 0.4svh solid rgb(0, 0, 0);
}

.cardsAllForGeneralStyles p {
    color: rgb(0, 0, 0);
    margin: 2svh;
    font-size: 2svh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin-top: auto;
    margin-bottom: auto;
}

.cardsAllForGeneralStyles img {
    width: 90%;
    border: 0.5svh solid black;
    border-radius: 2svh;
    margin-top: auto;
    box-shadow: 6px 6px 0px 0px #000000, 4px 4px 0px 0px rgb(255, 255, 255) inset;
}

.cardNumber {
    font-size: 1.5svh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: rgb(0, 0, 0);
    width: 100%;
    background-image: none;
    margin: 10px 0 5px 0;
}