
#id_div_go_up {
    background-color: var(--colbot);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    transition: 0.3s ease-in-out;
}

#id_img_arrowup {
    position: relative;
    bottom: 0;
    height: 3.5vh;
    animation: uparrowanim 2s infinite ease-in-out;
    transition: 0.2s ease-in-out;
    cursor: url('cursor_pointer.png'), pointer;
}

@media (hover: hover) {
    #id_img_arrowup:hover {
        height: 3vh;
        transition: 0.2s ease-in-out;
    }
}

@keyframes uparrowanim {
    0% {bottom: -0.4vh;}
    50% {bottom: 0.6vh;}
    100% {bottom: -0.4vh;}
}

#id_div_toggle_cardsgroup_space {
    height: 20vh;
    width: 100%;
    border-bottom: 0.5vh solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}

#id_div_toggle_cardsgroup_space_wrapper {
    height: 20vh;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    cursor: url('cursor_pointer.png'), pointer;
    transition: 0.2s ease-in-out;
}

#id_img_toggle_cardsgroup_text_wrapper{
    background-color: var(--darkgrey);
    border-radius: 2vh;

    border: 0.5vh solid black;
    padding-bottom: -5px;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;

}

@media (hover: hover) {
    #id_div_toggle_cardsgroup_space_wrapper:hover #id_img_toggle_cardsgroup_text_wrapper {
        border-radius: 3vh;
        transition: 0.2s ease-in-out;
    }

    #id_div_toggle_cardsgroup_space_wrapper:hover #id_div_toggle_cardsgroup_lever_small {
        height: 3.5vh;

    }
}

#id_div_toggle_cardsgroup_lever_big {
    height: 1vh;
    border-radius: 10px;
    width: 16vh;
    margin-bottom: 3vh;
    background-color: rgb(0, 0, 0);

    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: url('cursor_pointer.png'), pointer;
    transition: 0.3s ease-in-out;
    z-index: -2;
}

#id_div_toggle_cardsgroup_lever_small {
    height: 3vh;
    width: 3vh;
    background-color: white;
    border: 0.5vh solid black;
    margin-left: 0%;
    margin-bottom: 0%;
    transition: 0.3s ease-in-out;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 1);
}

#id_img_toggle_cardsgroup_text {
    width: 25vh;
    cursor: url('cursor_pointer.png'), pointer;
    transition: 0.2s ease-in-out;
}

#id_div_footer_space {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#id_div_copyright_space {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    background-color: var(--bg);
    border-bottom: 0.5vh solid black;
}

#id_p_copyright_text {
    font-size: 1.2vh;
    font-family: 'Space Mono', monospace;
}

#id_img_copyright_icon {
    width: 1vh;
    animation: rotateAnimation 4s ease-in-out infinite;
}

@keyframes rotateAnimation {
    0%, 100% {
        transform: rotate(-30deg);
    }
    50% {
        transform: rotate(30deg);
    }
}

