#id_div_space1, #id_div_space2 {
    height: 2vh;
}

#id_div_space1{
    border-top: 0.5vh solid black;
}

#id_div_space2, #id_div_space1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

#id_div_navbar {
    background-color: var(--bg);
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: 1s ease-in-out;
}

#id_img_navbar_textpicture_wrapper {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.class_div_navbar_button {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7vh;
    transition: all .3s ease;
}

.class_div_navbar_button_burger {
    width: 9vh;
    height: 4vh;
    background: var(--colright);
    border: 0.5vh solid black;
    border-radius: 2vh;
    transition: all .3s ease;
    cursor: url('cursor_pointer.png'), pointer;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);

}

.class_div_navbar_button_burger {
    /* Initial styles for the button */
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Changed from center to flex-start */
}

.class_div_navbar_button_burger.clicked .class_div_navbar_button_burger_small {
    margin-left: calc(100% - 3vh); /* Adjust based on the actual width of the parent */
    margin-right: 4px;
    transition: all .3s ease;
}

@media (hover: hover) {
    .class_div_navbar_button_burger:hover {
        width: 8vh;
    }

    .class_div_navbar_button_burger:hover .class_div_navbar_button_burger_small {
        margin-left: 50%; /* Adjust as needed */
        margin-right: -50%; /* Adjust as needed */
        transform: translateX(-50%); /* Centering the element */
        transition: all .3s ease;
    }
}

.class_div_navbar_button_burger_small {
    width: 2.5vh;
    height: 2.5vh;
    margin-left: 4px;
    margin-top: 0.6px;
    background: black;
    border: 0.5vh solid black;
    border-radius: 1.3vh;
    transition: all .3s ease;
}

#id_div_go_down {
    background-color: var(--colup);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    transition: 0.3s ease-in-out;
}

#id_img_arrowdown {
    position: relative;
    bottom: 0;
    height: 3.5vh;
    animation: downarrowanim 2s infinite ease-in-out;
    transition: 0.2s ease-in-out;
}

@keyframes downarrowanim {
    0% {bottom: 0.2vh;}
    50% {bottom: -0.9vh;}
    100% {bottom: 0.2vh;}
}

@media (hover: hover) {
    #id_img_arrowdown:hover {
        height: 3vh;
        transition: 0.2s ease-in-out;
    }
}

#id_p_profile_left_text_wrapper {
    background-color: var(--darkgrey);
    padding: 10px 8px 10px 18px;
    border-radius: 2vh;

    border: 0.5vh solid black;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
}

#id_p_profile_right_text_wrapper {
    background-color: var(--darkgrey);
    padding: 10px;
    border-radius: 2vh;
    border: 0.5vh solid black;
    box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);

    opacity: 0%;
    visibility: hidden;
    display: none;
}