@media only screen and (max-width: 1200px) {

    #id_img_navbar_textpicture {
        height: 4vh;
    }

    .class_div_navbar_button {
        width: 30vw;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 7vh;
        transition: all .3s ease;
    }
    
    .class_div_navbar_button_burger {
        width: 6vh;
        height: 3vh;
        background: var(--colright);
        border: 0.5vh solid black;
        border-radius: 2vh;
        transition: all .3s ease;
        cursor: url('cursor_pointer.png'), pointer;
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 1);
    
    }
    
    .class_div_navbar_button_burger {
        /* Initial styles for the button */
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Changed from center to flex-start */
    }
    
    .class_div_navbar_button_burger.clicked .class_div_navbar_button_burger_small {
        margin-left: calc(100% - 2vh); /* Adjust based on the actual width of the parent */
        margin-right: 0px;
        transition: all .3s ease;
    }
    
    @media (hover: hover) {
        .class_div_navbar_button_burger:hover {
            width: 5vh;
        }
    
        .class_div_navbar_button_burger:hover .class_div_navbar_button_burger_small {
            margin-left: 50%; /* Adjust as needed */
            margin-right: -50%; /* Adjust as needed */
            transform: translateX(-50%); /* Centering the element */
            transition: all .3s ease;
        }
    }
    
    .class_div_navbar_button_burger_small {
        width: 1.5vh;
        height: 1.5vh;
        margin-left: 4px;
        margin-top: 0.6px;
        background: black;
        border: 0.5vh solid black;
        border-radius: 1.3vh;
        transition: all .3s ease;
    }

    #id_div_profile_all {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 40vh;
        /*background-color: black;*/
        align-items: center;
        justify-content: center;
    }

    #id_div_profile_left {
        height: 40vh;
        width: 100%;
        background-color: var(--colleft);
        border-top: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transition: 1s ease-in-out;
    }

    #id_div_profile_right {
        height: 40vh;
        width: 100%;
        background-color: var(--colright);
        border-top: 0.5vh solid black;
        border-bottom: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: 0.3s ease-in-out;
    }

    #id_p_profile_left_text {
        color: rgb(0, 0, 0);
        font-size: 1.5vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        margin: 0vh;
        width: 22ch;
        white-space: nowrap;
        overflow: hidden;
        transition: 1s ease-in-out;
    }

    @keyframes typing {
        from {
            width: 0
        }
    }

    #id_p_profile_right_text {
        visibility: hidden;
        display: none;
        color: black;
        font-size: 1.5vh;
        text-decoration: none;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        opacity: 0%;
        transition: 0.3s ease-in-out;
        margin: 0vh;
    }

    #id_p_profile_left_text_wrapper {
        background-color: var(--darkgrey);
        padding: 7px 8px 7px 18px;
        border-radius: 2vh;
    
        border: 0.5vh solid black;
        box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
        margin-top: 2vh;

    }
    
    #id_p_profile_right_text_wrapper {
        background-color: var(--darkgrey);
        padding: 3px;
        border-radius: 2vh;
        border: 0.5vh solid black;
        box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1);
    
        opacity: 0%;
        visibility: hidden;
        display: none;
        margin-bottom: 2vh;

    }

    #id_div_profile_right a {
        margin: 2vh;
        text-decoration: none;
    }

    #id_div_profile_right p {
        text-decoration: none;
    }

    #id_img_profile_picture {
        position: absolute;
        border-radius: 3vh;
        height: 20vh;
        border: 0.5vh solid black;
        box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 1); 
        transition: .5s ease-in-out;
        /*animation: rotateAnimation2 10s ease-in-out infinite;*/
    }

    @keyframes rotateAnimation2 {
        0%, 100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }

    @media (hover: hover) {
        #id_img_profile_picture:hover {
            height: 23vh;
            transition: .5s ease;
            border-radius: 0vh;
        }
    }

    #id_div_info_text_space {
        height: 42vh;
        display: flex;
        align-items: safe center;
        justify-content: center;
        overflow-y: auto;
    }

    #id_p_info_text {
        text-align: center;
        color: black;
        font-size: 1.3vmax;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        margin: 0 5vw 0 5vw;
        overflow-y: auto;
        overflow-x: hidden;
    }

    #id_p_info_text a {
        text-decoration: none;
        color: black;
        text-decoration: underline solid black 0.2vh;
    }

    @media (hover: hover) {
        #id_p_info_text a:hover {
            text-decoration: underline solid black 0.3vh;
        }
    }

}