@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colleft: #333333;
    --colright: #333333;
    --colup: #333333;
    --colbot: #333333;

    --lightgrey: #e4e4e4;
    --darkgrey: #b6b6b6;

    --scrolldark: #333333;
    --scrollbrighter: #575757;
    --scrollbrightest: #919191;
}

::-webkit-scrollbar {width: 1vw;}
::-webkit-scrollbar-track {background: var(--scrolldark);}
::-webkit-scrollbar-thumb {background: var(--scrollbrighter);}
::-webkit-scrollbar-thumb:hover {background: var(--scrollbrightest);}

#space1, #space2 {
    height: 4vh;
}

#space2, #space1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#c1, #c2, #c3, #c4, #c5, #c6 {
    margin: 0 0.5vh;
    border-radius: 50%;
    height: 2vh;
    width: 2vh;
    background-color: var(--scrolldark);
    border: none;
    color: white;
    font-size: 1vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    transition: 0.2s ease;
}

#c1:hover, #c2:hover, #c3:hover, #c4:hover, #c5:hover, #c6:hover {
    cursor: pointer;
    opacity: 50%;
    height: 2.5vh!important;
    width: 2.5vh!important;
    transition: 0.2s ease;
}

#navdiv {
    background-color: var(--lightgrey);
    height: 7vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
}



/*Mobile*/
@media only screen and (max-width: 1200px) {

    #logo {
        height: 4vh;
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 7vh;
        cursor: pointer;
        transition: all .5s ease;
    }
    .button_burger {
        width: 17px;
        height: 17px;
        background: rgb(112, 112, 112);
        border: 5px solid black;
        border-radius: 100%;
        transition: all .5s ease;
    }

    .button.clicked .button_burger {
        width: 17px;
        height: 17px;
        background: rgb(112, 112, 112);
        border: 2px solid black;
        border-radius: 100%;
        transition: all .5s ease;
    }

    #profilediv {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 40vh;
        /*background-color: black;*/
        align-items: center;
        justify-content: center;
    }

    #leftdiv {
        height: 40vh;
        width: 100%;
        background-color: var(--colleft);
        border-top: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        transition: 1s ease;
    }

    #rightdiv {
        height: 40vh;
        width: 100%;
        background-color: var(--colright);
        border-top: 0.5vh solid black;
        border-bottom: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        transition: 1s ease;
    }

    #hey {
        color: white;
        font-size: 2vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        margin: 2vh;

        width: 22ch;
        animation: typing 2s steps(22);
        white-space: nowrap;
        overflow: hidden;
    }

    @keyframes typing {
        from {
            width: 0
        }
    }

    #burgermenu {
        visibility: hidden;
        display: none;
        color: black;
        font-size: 2vh;
        text-decoration: none;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        opacity: 0%;
        transition: opacity 1s ease;
        margin: 2vh;
    }

    #rightdiv a {
        margin: 2vh;
        text-decoration: none;
    }

    #rightdiv p {
        text-decoration: underline solid black 0.2vh;
    }

    #simon {
        position: absolute;
        border-radius: 50%;
        height: 25vh;
        /* border: 0.5vh solid black; */
        box-shadow: 0 0 0 0.5vh black;
        transition: transform .5s ease;
    }

    #simon:hover {
        transform: scale(1.1);
        transition: transform .5s ease;
    }

    #textdiv {
        height: 38vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #infotext {
        text-align: center;
        color: black;
        font-size: 1.2vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        margin: 0 5vw 0 5vw;
    }

    #infotext a {
        text-decoration: none;
        color: black;
        text-decoration: underline solid black 0.2vh;
    }

}

/*Computer*/
@media only screen and (min-width: 1200px) {

    #logo {
        height: 5vh;
    }

    .button {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 7vh;
        cursor: pointer;
        transition: all .5s ease;
    }
    .button_burger {
        width: 30px;
        height: 30px;
        background: rgb(112, 112, 112);
        border: 8px solid black;
        border-radius: 100%;
        transition: all .5s ease;
    }

    .button.clicked .button_burger {
        width: 30px;
        height: 30px;
        background: rgb(112, 112, 112);
        border: 3px solid black;
        border-radius: 100%;
        transition: all .5s ease;
    }

    #profilediv {
        position: relative;
        display: flex;
        flex-direction: row;
        height: 50vh;
        /*background-color: black;*/
        align-items: center;
        justify-content: center;
    }

    #leftdiv {
        height: 50vh;
        width: 50vw;
        background-color: var(--colleft);
        border-top: 0.5vh solid black;
        border-bottom: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
    }

    #rightdiv {
        height: 50vh;
        width: 50vw;
        background-color: var(--colright);
        border-top: 0.5vh solid black;
        border-bottom: 0.5vh solid black;
        border-left: 0.5vh solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;
    }

    #rightdiv a {
        text-decoration: none;
    }

    #rightdiv p {
        text-decoration: underline solid black 0.2vh;
    }

    #hey {
        width: 22ch;
        animation: typing 2s steps(22);
        white-space: nowrap;
        overflow: hidden;

        color: white;
        font-size: 2vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
    }

    @keyframes typing {
        from {
            width: 0
        }
    }

    #burgermenu {
        visibility: hidden;
        display: none;
        color: black;
        font-size: 2vh;
        text-decoration: none;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        opacity: 0%;
        transition: opacity 1s ease;
    }

    #simon {
        position: absolute;
        border-radius: 50%;
        height: 35vh;
        /* border: 0.5vh solid black; */
        box-shadow: 0 0 0 0.5vh black;
        transition: transform .5s ease;
    }

    #simon:hover {
        transform: scale(1.2);
        transition: transform .5s ease;
    }

    #textdiv {
        height: 28vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #infotext {
        text-align: center;
        color: black;
        font-size: 2vh;
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        margin: 0 5vw 0 5vw;
    }

    #infotext a {
        text-decoration: none;
        color: black;
        text-decoration: underline solid black 0.2vh;
    }

}



#godowndiv {
    background-color: var(--colup);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    transition: 1s ease;
}

#arrowdown {
    position: relative;
    bottom: 0;
    height: 3.5vh;
    animation: updown1 2s infinite ease;
    transition: 0.2s ease;
}

@keyframes updown1 {
    0% {bottom: 0.2vh;}
    50% {bottom: -0.4vh;}
    100% {bottom: 0.2vh;}
}

#arrowdown:hover {
    opacity: 50%;
    transition: 0.2s ease;
}



/* PAGE 2 ------------------------------------------------- */


#goupdiv {
    background-color: var(--colbot);
    height: 7vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    transition: 1s ease;
}

#arrowup {
    position: relative;
    bottom: 0;
    height: 3.5vh;
    animation: updown2 2s infinite ease;
    transition: 0.2s ease;
}

@keyframes updown2 {
    0% {bottom: -0.4vh;}
    50% {bottom: 0.2vh;}
    100% {bottom: -0.4vh;}
}

#arrowup:hover {
    opacity: 50%;
    transition: 0.2s ease;
}

#toggleCardsDiv {
    height: 20vh;
    width: 100%;
    border-bottom: 0.5vh solid black;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#toggleCardsDiv2 {
    height: 3vh;
    width: 16vh;
    margin-bottom: 0vh;
    border-top: 0.5vh solid black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}

#toggleCardsDiv3 {
    height: 1.7vh;
    width: 2vh;
    background-color: black;
    margin-left: 0%;
    margin-bottom: 19%;
    transition: 0.3s ease-in-out;
}

#toggleCardText {
    width: 25vh;
    cursor: pointer;
    margin-bottom: 0.5vh;
}

#bigFooter {
    height: 20vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#smallFooter {
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rights {
    font-size: 1.2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
}

#copyrightlogo {
    width: 1vh;
}

/*Mobile* BigFooter*/
@media only screen and (max-width: 1000px) {
    #yt {
        height: 6vh;
        transition: 0.2s ease;
    }

    #yt:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    #mail {
        height: 6vh;
        transition: 0.2s ease;
    }

    #mail:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    #ln {
        height: 4.5vh;
        transition: 0.2s ease;
    }

    #ln:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    #leftRect {
        height: 2vh;
        width: 20vw;
        background-color: black;
    }

    #rightRect {
        height: 2vh;
        width: 20vw;
        background-color: black;
    }
}

/*Computer* Big Footer*/
@media only screen and (min-width: 1000px) {
    #yt {
        height: 10vh;
        transition: 0.2s ease;
    }

    #yt:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    #mail {
        height: 10vh;
        transition: 0.2s ease;
    }

    #mail:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    #ln {
        height: 7.5vh;
        transition: 0.2s ease;
    }

    #ln:hover {
        transform: scale(1.1);
        transition: 0.2s ease;
    }

    #leftRect {
        height: 2vh;
        width: 30vw;
        background-color: black;
    }

    #rightRect {
        height: 2vh;
        width: 30vw;
        background-color: black;
    }
}



/* CARDS ------------------------------------------------- */

#work {
    background-color: var(--darkgrey);
    height: 50vh;
    width: 100%;
    border-bottom: 0.5vh solid black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .cardsAllForGeneralStyles {
        background-color: var(--lightgrey);
        border: 0.5vh solid black;
        height: 40vh;
        width: 35vh;
        margin: 0 1vh;
        transition: 0.2s ease;
    }
    #arrowleft {
        position: relative;
        height: 6.5vw;
        cursor: pointer;
        animation: left1 2s infinite ease;
        transition: 0.2s ease;
        left: 0;
    }
    #arrowright {
        position: relative;
        height: 6.5vw;
        cursor: pointer;
        animation: right1 2s infinite ease;
        transition: 0.2s ease;
        left: 0;
    }

    #arrowleft:hover {
        transform: scale(0.8);
        transition: 0.2s ease;
    }
    #arrowright:hover {
        transform: scale(0.8);
        transition: 0.2s ease;
    }
    @keyframes left1 {
        0% {left: 1vh;}
        50% {left: 0vh;}
        100% {left: 1vh;}
    }
    @keyframes right1 {
        0% {left: -1vh;}
        50% {left: 0vh;}
        100% {left: -1vh;}
    }
    .card1ForStyle {
        display: inline-flex;
        visibility: visible;
    }
    .cardsAllForGeneralStyles {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 1000px) {
    .cardsAllForGeneralStyles {
        background-color: var(--lightgrey);
        border: 0.5vh solid black;
        height: 40vh;
        width: 35vh;
        margin: 0 3vh;
        transition: 0.2s ease;
    }
    #arrowleft {
        position: relative;
        height: 5vw;
        cursor: pointer;
        animation: left1 2s infinite ease;
        transition: 0.2s ease;
        left: 0;
    }
    #arrowright {
        position: relative;
        height: 5vw;
        cursor: pointer;
        animation: right1 2s infinite ease;
        transition: 0.2s ease;
        left: 0;
    }
    #arrowleft:hover {
        transform: scale(1.2);
        transition: 0.2s ease;
    }
    #arrowright:hover {
        transform: scale(1.2);
        transition: 0.2s ease;
    }
    @keyframes left1 {
        0% {left: 2vh;}
        50% {left: 0vh;}
        100% {left: 2vh;}
    }
    @keyframes right1 {
        0% {left: -2vh;}
        50% {left: 0vh;}
        100% {left: -2vh;}
    }
    .card1ForStyle, .card2ForStyle {
        display: inline-flex;
        visibility: visible;
    }
    .cardsAllForGeneralStyles {
        display: none;
        visibility: hidden;
    }
}

@media only screen and (min-width: 1500px) {
    .cardsAllForGeneralStyles {
        background-color: var(--lightgrey);
        border: 0.5vh solid black;
        height: 40vh;
        width: 35vh;
        margin: 0 3vh;
        transition: 0.2s ease;
    }

    .card1ForStyle, .card2ForStyle, .card3ForStyle {
        display: inline-flex;
        visibility: visible;
    }

}

.cardsAllForGeneralStyles:hover {
    transform: scale(1.05);
    transition: 0.2s ease;
    cursor: pointer;
    box-shadow: #333333;
}

/* OPENCARDS -------------------------------------------- */

.opencard {
    display: none;
    visibility: hidden;
    color: white;
    background-color: var(--scrolldark);
    border: 0.5vh solid black;
    position: absolute;
    width: 75vw;
    height: 85vh;
    /*cursor: pointer;*/
    opacity: 0%;
    animation: open 0.2s ease;
    transition: 0.2s ease;
}

@keyframes open {
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

#close {
    display: none;
    visibility: hidden;
    position: absolute;
    width: 5vh;
    animation: open2 1s ease;
    transition: 0.2s ease;
    cursor: pointer;
}


@keyframes open2 {
    0% {opacity: 0%; transform: rotate(0) scale(0.75);}
    100% {opacity: 100%; transform: rotate(180deg) scale(1.0);;}
}

#close:hover {
    transform: scale(1.15);
}


/* CLOSED CARDS CONTENT ---------------------------------- */

.cardsAllForGeneralStyles {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card1ForStyle {
    background-image: url("img/cards/webdevbg.png");
}

.card2ForStyle {
    background-image: url("img/cards/mediadesignbg.png");
}

.card3ForStyle {
    background-image: url("img/cards/meetbg.png");
}

.card4ForStyle {
    background-image: url("img/cards/teachingbg.png");
}

.card5ForStyle {
    background-image: url("img/cards/quartobg.png");
}

.card6ForStyle {
    background-image: url("img/cards/musicbg.png");
}

.card7ForStyle {
    background-image: url("img/cards/chromeextensionbg.png");
}

.card8ForStyle {
    /* or no background */
    background-image: url("img/cards/conceptbg.png");
}

.card9ForStyle {
    background-image: url("img/cards/rememorybg.png");
}

.card10ForStyle {
    background-image: url("img/cards/pwpbg.png");
}

.cardsAllForGeneralStyles h {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
}

.cardsAllForGeneralStyles p {
    color: white;
    margin: 2vh;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    margin-bottom: auto;
}

.cardsAllForGeneralStyles img {
    width: 100%;
    border-top: 0.5vh solid black;
    margin-top: auto;
}

.cardNumber {
    font-size: 1.5vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    color: white;
    width: 100%;
    background-image: none;
}


/* OPEN CARDS CONTENT ---------------------------------- */

.opencard h {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    border-bottom: 0.2vh solid white;
    position: absolute;
    margin-top: -75vh;
}



/* card1: WEBSITE */

#opencard1 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-image: url("img/cards/webdevBGDARK.png");*/
    background-color: var(--scrolldark);
}

#opencard1 p {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

#opencard1 .htmlcssjs {
    width: 2vh;
    vertical-align: -0.30vh;
}

@media only screen and (max-width: 1000px) {
    #opencard1 p {
        font-size: 1.25vh;
    }
    #opencard1 .htmlcssjs {
        width: 1.5vh;
        vertical-align: -0.30vh;
    }
}

#opencard1 p a {
    color: white;
}







/* card2: MEDIA DESIGN */


#opencard2 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*background-image: url("img/cards/mediadesignBGDARK.png");*/
    background-color: var(--scrolldark);
}

#opencard2 p {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

#opencard2 a {
    color: white;
}

@media only screen and (max-width: 1000px) {
    #opencard2 p {
        font-size: 1.0vh;
    }
}

@media only screen and (min-width: 1000px) {
    #opencard2 p {
        font-size: 1.5vh;
    }
}

@media only screen and (min-width: 1500px) {
    #opencard2 p {
        font-size: 2vh;
    }
}

#opencard2 #mediadesigncarousel {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 30vh;
    width: 75%;
    margin-bottom: -7vh;
    margin-top: 2vh;
    transition: 0.2s ease;
}

@media only screen and (max-width: 1000px) {
    #opencard2 #mediadesigncarousel {
        height: 20vh;
    }

    #arrowleftmedia {
        cursor: pointer;
        height: 4vw;
        position: relative;
        animation: left1 2s infinite ease;
        transition: 0.2s ease;
        left: 0;
        margin-right: 2vh;
    }

    #arrowrightmedia {
        cursor: pointer;
        height: 4vw;
        position: relative;
        animation: right1 2s infinite ease;
        transition: 0.2s ease;
        left: 0;
        margin-left: 2vh;
    }
}

#mediadesigncarouselimage {
    height: 100%;
    transition: 0.2s ease;
}


#arrowleftmedia {
    cursor: pointer;
    height: 4vw;
    position: relative;
    animation: left1 2s infinite ease;
    transition: 0.2s ease;
    left: 0;
}

#arrowrightmedia {
    cursor: pointer;
    height: 4vw;
    position: relative;
    animation: right1 2s infinite ease;
    transition: 0.2s ease;
    left: 0;
}

#arrowleftmedia:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
}
#arrowrightmedia:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
}
@keyframes left1 {
    0% {left: 1vh;}
    50% {left: 0vh;}
    100% {left: 1vh;}
}
@keyframes right1 {
    0% {left: -1vh;}
    50% {left: 0vh;}
    100% {left: -1vh;}
}





/* card3: MEET PROTOTYPE */


#opencard3 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard3 p {
    color: white;
    font-size: 2.0vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

#opencard3 p a {
    color: white;
}

@media only screen and (max-width: 1000px) {
    #opencard3 p {
        font-size: 1.0vh;
    }
}



/* card4: TEACHING */



#opencard4 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard4 p {
    color: white;
    font-size: 2.0vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

#opencard4 p a {
    color: white;
}

@media only screen and (max-width: 1000px) {
    #opencard4 p {
        font-size: 1.0vh;
    }
}



/* card5: QUARTO */



#opencard5 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard5 p {
    color: white;
    font-size: 1.75vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

#opencard5 p a {
    color: white;
    text-decoration: none;
}


@media only screen and (max-width: 1000px) {
    #opencard5 p {
        font-size: 0.85vh;
    }
}

#opencard5 h1 {
    color: white;
    font-size: 1.8vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
    text-decoration: none;
}
#opencard5 a {
    text-decoration: none;
}




/* card6: MUSIC */



#opencard6 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard6 p {
    color: white;
    font-size: 2.0vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

#opencard6 p a {
    color: white;
}


@media only screen and (max-width: 1000px) {
    #opencard6 p {
        font-size: 1.0vh;
    }
}

#opencard6 h1 {
    color: white;
    font-size: 1.8vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
    text-decoration: none;
}

#opencard6 a {
    text-decoration: none;
}




/* card7: CHROME EXTENSION */



#opencard7 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard7 p {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

@media only screen and (max-width: 1000px) {
    #opencard7 p {
        font-size: 1.0vh;
    }
}

#opencard7 p a {
    color: white;
}

#opencard7 h1 {
    color: white;
    font-size: 1.8vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
    text-decoration: none;
}

#opencard7 #u2w {
    text-decoration: none;
}





/* card8: CONCEPT DEVELOPMENT */

#opencard8 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard8 p {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

@media only screen and (max-width: 1000px) {
    #opencard8 p {
        font-size: 1.0vh;
    }
}

#opencard8 p a {
    color: white;
}

#opencard8 h1 {
    color: white;
    font-size: 1.8vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
    text-decoration: none;
}

#opencard8 #showerheadblog {
    text-decoration: none;
}

.card8ForStyle h {
    border-bottom: 0.2vh solid black;
}

.card8ForStyle h, .card8ForStyle p, .card8ForStyle .cardNumber {
    color: black;
}





/* card9: REMEMORY */

#opencard9 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard9 p {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

@media only screen and (max-width: 1000px) {
    #opencard9 p {
        font-size: 1.0vh;
    }
}

#opencard9 p a {
    color: white;
}

#opencard9 h1 {
    color: white;
    font-size: 1.8vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
    text-decoration: none;
}

#opencard9 #rememoryVid {
    text-decoration: none;
}



/* card10: PWP */

#opencard10 {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--scrolldark);
}

#opencard10 p {
    color: white;
    font-size: 2vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin: 0 10vw;
}

@media only screen and (max-width: 1000px) {
    #opencard10 p {
        font-size: 1.0vh;
    }
}

#opencard10 p a {
    color: white;
}

#opencard10 h1 {
    color: white;
    font-size: 1.8vh;
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    margin-top: auto;
    border-bottom: 0.2vh solid white;
    text-decoration: none;
}

#opencard10 #showerheadblog {
    text-decoration: none;
}

.card10ForStyle h {
    border-bottom: 0.2vh solid black;
}

.card10ForStyle h, .card10ForStyle p, .card10ForStyle .cardNumber {
    color: black;
}

#opencard10 #pwpVid {
    text-decoration: none;
}

