@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    width: 100vw;
    height: 100vh;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(24, 24, 24);
}

h1 {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 3vw;
    color: white;
    cursor: pointer;
}

@media (max-width: 500px) {
    h1 {
        font-size: 5vw;
    }
}